<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/proyectos"></ion-back-button>
    </ion-buttons>
    <ion-title color="secondary">INMUEBLE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title color="secondary"> INMUEBLES</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card>
        <ion-card-header>
          <ion-card-title color="secondary"> LOCALIZACIÓN </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-grid>
            <ion-row class="ion-align-items-end">
              <ion-col class="ion-margin-top ion-margin-bottom">
                <ion-item>
                  <ion-label position="floating"> TITULO </ion-label>
                  <ion-input [(ngModel)]="inmueble.titulo" disabled>
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col class="ion-margin-top ion-margin-bottom">
                <ion-item>
                  <ion-label position="floating"> ESTADO </ion-label>
                  <ion-input [(ngModel)]="inmueble.estado" disabled></ion-input>
                </ion-item>
              </ion-col>

              <ion-col class="ion-margin-top ion-margin-bottom">
                <ion-item>
                  <ion-img *ngIf="inmueble.foto" src="{{ api }}/{{ inmueble.foto }}"></ion-img>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-end">
              <ion-col class="ion-margin-top ion-margin-bottom">
                <ion-item>
                  <ion-label position="floating"> INMOBILIARIA </ion-label>
                  <ion-input [(ngModel)]="inmueble.inmobiliaria" disabled>
                  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col class="ion-margin-top ion-margin-bottom">
                <ion-item>
                  <ion-label position="floating"> NOTARIOS </ion-label>
                  <ion-select [(ngModel)]="inmueble.notario">
                    <ion-select-option *ngFor="let notario of notarios" [value]="notario.rfc">
                      {{notario.nombre}}
                    </ion-select-option>

                  </ion-select>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title color="secondary"> DETALLES </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <ion-grid>
            <ion-row class="ion-align-items-end">
              <ion-col>
                <ion-item>
                  <ion-button size="default" (click)="verPosicion(inmueble.direccion)">Ver dirección</ion-button>

                  <ion-button size="default" (click)="guardarDireccion()">Seleccionar dirección</ion-button>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-label position="floating"> PISOS </ion-label>
                  <ion-input  [(ngModel)]="inmueble.pisos"> </ion-input>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-label position="floating"> CUARTOS </ion-label>
                  <ion-input  [(ngModel)]="inmueble.cuartos"> </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-end">
              <ion-col>
                <ion-item>
                  <ion-label position="floating"> METROS CUADRADOS </ion-label>
                  <ion-input  [(ngModel)]="inmueble.metros_cuadrados"> </ion-input>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-label position="floating"> DESCRIPCION </ion-label>
                  <ion-input  [(ngModel)]="inmueble.descripcion"> </ion-input>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-label position="floating"> SERVICIOS </ion-label>
                  <ion-input  [(ngModel)]="inmueble.servicios"> </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row class="ion-align-items-end">
              <ion-col>
                <ion-item>
                  <ion-label position="floating"> VISTA </ion-label>
                  <ion-input type="checkbox"  [(ngModel)]="inmueble.visible">  </ion-input>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-label position="floating"> PRECIO RENTA </ion-label>
                  <ion-input  [(ngModel)]="inmueble.precio_renta"> </ion-input>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item>
                  <ion-label position="floating"> PRECIO VENTA </ion-label>
                  <ion-input  [(ngModel)]="inmueble.precio_venta"> </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>

        <ion-card-content>
          <ion-button
            class="ion-float-right ion-margin-top ion-margin-bottom"
            fill="solid"
            (click)=" actualizarInmueble()"
          >
            ACTUALIZAR
          </ion-button>
          <ion-button
            class="ion-float-left ion-margin-top"
            fill="solid"
            color="danger"
            (click)="eliminarInmueble()"
          >
            ELIMINAR
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-card-content>

    <ion-button (click)="agregarFotoGaleria()">AGREGAR FOTO</ion-button>
    <ion-grid>
      <ion-row>
        <ion-col size="3" *ngFor="let imagen of imagenes">
          <ion-img src="{{api}}/{{imagen.ruta}}" (click)="eliminar(imagen)"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-label>CLIENTES</ion-label>
  <ion-list>
    <ion-item *ngFor="let cliente of clientes">
      <ion-label> {{cliente}} </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
